nav ul {
    list-style-type: none;
}
nav ul li {
    cursor: pointer;
}
nav ul li.navigation:before {
    content: '\0025B6';
    margin-left: -20px;
    margin-right: 10px;
}   
li.navigation.active:before {
    color: #44FF44;
}
.slideshow {
    display: none;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.slideshow.active {
    display: block;
}
audio {
    width:100%;
}

div.navibar a {
    text-overflow:clip;
    white-space: nowrap;
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: thin solid #FFFFFF;
    box-sizing: border-box;
    font-size: .7em;
    line-height: 3em;
    cursor: pointer;
}

div.navibar a:hover {
    border-color: #000000;
}