<!DOCTYPE html>
<!--
author: Patrick Cuba <cubap@slu.edu>
-->
<html>

<head>
    <title>Sounding Salon—Audio Exhibition</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <nav class="nav">
        <a href="../">Home</a>
        <a href="sound.html">Audio Exhibit</a>
    </nav>
    <div class="container row">
        <deer-view deer-id="https://centerfordigitalhumanities.github.io/sounding-salon/manifest.json"
            deer-template="navibar">
        </deer-view>

        <deer-view deer-id="https://centerfordigitalhumanities.github.io/sounding-salon/manifest.json"
            deer-template="listen">
        </deer-view>
    </div>
    <div class="container row" style="display: flex;">
        <deer-view deer-id="https://centerfordigitalhumanities.github.io/sounding-salon/manifest.json"
            deer-template="program">
        </deer-view>

        <deer-view deer-id="https://centerfordigitalhumanities.github.io/sounding-salon/manifest.json"
            deer-template="slideshow">
        </deer-view>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="view-deer.js" type="module"></script>
</body>

</html>